p {
    margin: 0.2em;
    font-weight: 100;
    line-height: 1.5em;
    margin-bottom: 1em;
}

body {
    color: black;
    font-family: sans-serif;
    margin: 4em 7em;
    max-width: 60rem;

    & > p {
        margin-left: 0;
    }
}

a {
    color: gray;
    text-decoration: none;
}

a:hover {
    color: cornflowerblue;
}

ul {
    padding-left: 0;
    margin-top: 0;
}

li {
    list-style: none;
}

.skill-list {
    padding-left: 2em;
}

.skill-list li {
    list-style: initial;
}

h1, h2, h3 {
    color: black;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 100;
    font-size: 1em;
}

h3 {
    margin-bottom: 0.3rem;
    margin-top: 0;
}

h2 {
    margin-bottom: 0.4em;
    margin-top: 4em;
    border-bottom: 2px solid gray;
    font-weight: 900;
    letter-spacing: 0;
}

h2:first-child {
    margin-top: 1em;
}

h1 {
    text-transform: initial;
    font-weight: 400;
    margin-bottom: 0.2em;
}

.co-name {
    letter-spacing: 0.1em;
    font-size: 0.9em;
    text-transform: uppercase;
}

.exp-head {
    margin-bottom: 0;
}

.experience-info .misc {
    font-size: 0.9em;
}

.col-left {
    margin-right: 5%;
    width: 25%;
    float: left;

    & p {
        font-size: 0.9rem;
    }

    & ul {
        font-size: 0.9rem;
        font-weight: 100;
    }
}

.col-right {
    float: left;
    width: 70%;

    &>p {
        margin-bottom: 2em;
        font-size: 0.9rem;
    }

    &>ul {
        margin: 0;
        font-weight: 100;
        font-size: 0.9rem;

        &>li:first-child {
            margin-bottom: 0.2rem;
            font-weight: normal;
        }
    }
}

@media screen and (max-width: 690px) {
    body {
        margin: 4em auto;
        padding: 1em;
    }

    h2:first-child {
        margin-top: 4em;
    }

    .col-left, .col-right {
        float: none;
        width: 100%;
    }
}

@media print {
    .col-left {
        margin-right: 5%;
        width: 25%;
        float: left;
    }

    .col-right {
        float: left;
        width: 70%;
    }

    h2:first-child {
        margin-top: 1em;
    }
}
